body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #1E2815; /* Verde oscuro del logo */
    color: #E1D5A3; /* Beige */
  }
  
  h1, h2, h3 {
    color: #E1D5A3; /* Beige */
  }
  
  a {
    color: #A3A071;
    text-decoration: none;
  }
  
  a:hover {
    color: #E1D5A3;
  }
  